In [1]:
import pandas as pd

In [2]:
data= pd.Series([0.34,9.0,8.7,9.0])

In [3]:
data

0    0.34
1    9.00
2    8.70
3    9.00
dtype: float64

In [4]:
population_dict = {'california':234567,
                  'texas':345677,
                  'Silicon':987654,
                  'New York':983456,
                  'Florida':865454}

In [5]:
type(population_dict)

dict

In [6]:
population = pd.Series(population_dict)

In [7]:
population

california    234567
texas         345677
Silicon       987654
New York      983456
Florida       865454
dtype: int64

In [8]:
population['texas']

345677

In [9]:
population['texas':'New York']

texas       345677
Silicon     987654
New York    983456
dtype: int64

#Pandas Dataframes

#properties of dataframes
2-d type of object
hetrogeneous
Size mutable
value mutable
potentially columns are of different types
labelled axes- rows & cols
Arithmetic operations on rows and cols
How to create pandas dataframe
pandas.DataFrame(data,index,columns,dtype,copy)
create dataframes-list,series,dict,array

In [10]:
area_dict = {'california':8798567,
            'texas':7657787,
            'Silicon':9857657,
            'New York':984566,
            'Florida':8098764}

In [11]:
area_dict

{'california': 8798567,
 'texas': 7657787,
 'Silicon': 9857657,
 'New York': 984566,
 'Florida': 8098764}

In [12]:
area= pd.Series(area_dict)

In [13]:
area

california    8798567
texas         7657787
Silicon       9857657
New York       984566
Florida       8098764
dtype: int64

In [14]:
population

california    234567
texas         345677
Silicon       987654
New York      983456
Florida       865454
dtype: int64

In [15]:
type(population)

pandas.core.series.Series

In [16]:
states = pd.DataFrame({'Population':population, 'Area':area})

In [17]:
states

            Population     Area
california      234567  8798567
texas           345677  7657787
Silicon         987654  9857657
New York        983456   984566
Florida         865454  8098764

In [18]:
states.index

Index(['california', 'texas', 'Silicon', 'New York', 'Florida'], dtype='object')

In [19]:
states.columns

Index(['Population', 'Area'], dtype='object')

In [20]:
states['Area']

california    8798567
texas         7657787
Silicon       9857657
New York       984566
Florida       8098764
Name: Area, dtype: int64

In [21]:
states['Population']

california    234567
texas         345677
Silicon       987654
New York      983456
Florida       865454
Name: Population, dtype: int64

In [22]:
pd.DataFrame(population,columns=['pop'])

               pop
california  234567
texas       345677
Silicon     987654
New York    983456
Florida     865454

In [23]:
#Statistical functions

In [24]:
states.count()

Population    5
Area          5
dtype: int64

In [25]:
states.sum()

Population     3416808
Area          35397341
dtype: int64

In [26]:
states.mean()

Population     683361.6
Area          7079468.2
dtype: float64

In [27]:
states.median()

Population     865454.0
Area          8098764.0
dtype: float64

In [28]:
states.std()

Population    3.644364e+05
Area          3.506953e+06
dtype: float64

In [29]:
states.min()

Population    234567
Area          984566
dtype: int64

In [30]:
states.max()

Population     987654
Area          9857657
dtype: int64

In [31]:
states.describe()#Statistical Analysis of the data

          Population          Area
count       5.000000  5.000000e+00
mean   683361.600000  7.079468e+06
std    364436.427177  3.506953e+06
min    234567.000000  9.845660e+05
25%    345677.000000  7.657787e+06
50%    865454.000000  8.098764e+06
75%    983456.000000  8.798567e+06
max    987654.000000  9.857657e+06

In [32]:
states

            Population     Area
california      234567  8798567
texas           345677  7657787
Silicon         987654  9857657
New York        983456   984566
Florida         865454  8098764

In [33]:
#save the data
states.to_csv('States.csv')

In [34]:
pwd

'C:\\Users\\shlok\\Downloads'

In [35]:
#read the data
data= pd.read_csv('States.csv')

In [36]:
data

   Unnamed: 0  Population     Area
0  california      234567  8798567
1       texas      345677  7657787
2     Silicon      987654  9857657
3    New York      983456   984566
4     Florida      865454  8098764

In [37]:
data.rename(columns={'Unnamed: 0':'State'})

        State  Population     Area
0  california      234567  8798567
1       texas      345677  7657787
2     Silicon      987654  9857657
3    New York      983456   984566
4     Florida      865454  8098764

In [38]:
dataset= pd.read_excel(r'C:\Users\HP\Desktop\Data\autos.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\HP\\Desktop\\Data\\autos.xlsx'

In [ ]:
dataset

In [39]:
df= pd.read_csv('D:\data science\data set\challenger.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\data science\\data set\\challenger.csv'

In [40]:
df

NameError: name 'df' is not defined

In [41]:
df.head(10)

NameError: name 'df' is not defined

In [42]:
df.tail(3)

NameError: name 'df' is not defined

In [43]:
df.describe()

NameError: name 'df' is not defined

In [44]:
df.info()

NameError: name 'df' is not defined

In [45]:
data= pd.Series(['a','b','c'],index=[1,3,5])

In [46]:
data

1    a
3    b
5    c
dtype: object

In [47]:
data[1]

'a'

In [48]:
data[1:3]

3    b
5    c
dtype: object

In [49]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [50]:
data.loc[1:3]

1    a
3    b
dtype: object

In [51]:
states

            Population     Area
california      234567  8798567
texas           345677  7657787
Silicon         987654  9857657
New York        983456   984566
Florida         865454  8098764

In [52]:
states.T

            california    texas  Silicon  New York  Florida
Population      234567   345677   987654    983456   865454
Area           8798567  7657787  9857657    984566  8098764

In [53]:
import numpy as np

In [54]:
#Handling Missing data
var1= np.array([1,3,None,4])

In [55]:
var1

array([1, 3, None, 4], dtype=object)

In [56]:
var1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [57]:
var2= np.array([1,2,np.nan,3,4])

In [58]:
var2

array([ 1.,  2., nan,  3.,  4.])

In [59]:
var2.sum()

nan

In [60]:
1+np.nan

nan

In [61]:
1-np.nan

nan

In [62]:
2*np.nan

nan

In [63]:
var2.max()

nan

In [64]:
x= pd.Series([1,np.nan,None])

In [65]:
x

0    1.0
1    NaN
2    NaN
dtype: float64

In [66]:
x.isnull()

0    False
1     True
2     True
dtype: bool

In [67]:
x.isnull().any()

True

In [68]:
x.isnull().sum()

2

In [69]:
x.notnull()

0     True
1    False
2    False
dtype: bool

In [70]:
x.dropna()

0    1.0
dtype: float64

In [71]:
x.fillna(0)

0    1.0
1    0.0
2    0.0
dtype: float64

In [72]:
x= pd.Series([1,2,4,np.nan,5,np.nan])

In [73]:
x

0    1.0
1    2.0
2    4.0
3    NaN
4    5.0
5    NaN
dtype: float64

In [74]:
x.fillna(method='ffill')

0    1.0
1    2.0
2    4.0
3    4.0
4    5.0
5    5.0
dtype: float64

In [75]:
x.fillna(method='bfill')

0    1.0
1    2.0
2    4.0
3    5.0
4    5.0
5    NaN
dtype: float64

In [76]:
ser1=pd.Series(['A','B','C'], index=[1,2,3])
ser2=pd.Series(['D','E','F'], index=[4,5,6])

In [77]:
ser1

1    A
2    B
3    C
dtype: object

In [78]:
ser2

4    D
5    E
6    F
dtype: object

In [79]:
pd.concat([ser1,ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [80]:
df= pd.DataFrame({'a':[1,2,np.nan,4,5,6,7,3,2],'b':[1,2,3,3,3,4,5,3,2],'c':[2,np.nan,8,3,4,5,6,7,5],'d':[3,4,np.nan,4,5,6,6,7,8]})

In [81]:
df

     a  b    c    d
0  1.0  1  2.0  3.0
1  2.0  2  NaN  4.0
2  NaN  3  8.0  NaN
3  4.0  3  3.0  4.0
4  5.0  3  4.0  5.0
5  6.0  4  5.0  6.0
6  7.0  5  6.0  6.0
7  3.0  3  7.0  7.0
8  2.0  2  5.0  8.0

In [82]:
df['a'].fillna(df['a'].mean(),inplace=True)

In [83]:
df

      a  b    c    d
0  1.00  1  2.0  3.0
1  2.00  2  NaN  4.0
2  3.75  3  8.0  NaN
3  4.00  3  3.0  4.0
4  5.00  3  4.0  5.0
5  6.00  4  5.0  6.0
6  7.00  5  6.0  6.0
7  3.00  3  7.0  7.0
8  2.00  2  5.0  8.0

In [84]:
df['c'].fillna(df['c'].median(),inplace=True)

In [85]:
df

      a  b    c    d
0  1.00  1  2.0  3.0
1  2.00  2  5.0  4.0
2  3.75  3  8.0  NaN
3  4.00  3  3.0  4.0
4  5.00  3  4.0  5.0
5  6.00  4  5.0  6.0
6  7.00  5  6.0  6.0
7  3.00  3  7.0  7.0
8  2.00  2  5.0  8.0

In [86]:
df['d'].fillna(df['d'].mode()[0],inplace=True)

In [87]:
df

      a  b    c    d
0  1.00  1  2.0  3.0
1  2.00  2  5.0  4.0
2  3.75  3  8.0  4.0
3  4.00  3  3.0  4.0
4  5.00  3  4.0  5.0
5  6.00  4  5.0  6.0
6  7.00  5  6.0  6.0
7  3.00  3  7.0  7.0
8  2.00  2  5.0  8.0